<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Education</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 mb-4">
                <div class="experince-img">
                    <iframe src="https://lottie.host/embed/8af45c45-0798-4057-8f17-4675c7b23dd8/ebfPn0ioGk.json"
                        style="width:100%; height:500px; border:none;"></iframe>
                </div>
            </div>
            <!-- Education timeline -->
            <div class="col-sm-12 col-md-6 fs-5">
                <div class="card education-card">
                    <div class="card_content d-flex align-items-center">
                        <img src="assets/images/edu.png" alt="education Icon" class="img-fluid me-3"
                        style="width: max-content;; height: max-content;">
                        <div class="content">
                            <h5 class="degree-title">Bachelor of Engineering (Computer Engineering)</h5>
                            <p class="date-range">2017 – 2020</p>
                            <p class="institution">Marathwada Mitramandal's Institute of Technology, Lohgaon, Pune</p>
                            <p class="score">8.04 SGPA</p>
                        </div>
                    </div>
                </div>

                <div class="card education-card">
                    <div class="card_content d-flex align-items-center">
                        <img src="assets/images/edu.png" alt="education Icon" class="img-fluid me-3"
                        style="width: max-content;; height: max-content;">
                        <div class="content">
                            <h5 class="degree-title">Diploma of Engineering (Computer Engineering)</h5>
                            <p class="date-range">2014 – 2017</p>
                            <p class="institution">Shriman Bhausaheb Zadbuke Institute of Polytechnic, Barshi, Solapur
                            </p>
                            <p class="score">79.75 %</p>

                        </div>
                    </div>
                </div>

                <div class="card education-card">
                    <div class="card_content d-flex align-items-center">
                        <img src="assets/images/edu.png" alt="education Icon" class="img-fluid me-3"
                            style="width: max-content;; height: max-content;">
                        <div class="content">
                            <h5 class="degree-title">Secondary School Certificate (SSC)</h5>
                            <p class="date-range">2014</p>
                            <p class="institution">Maharashtra Vidyalaya, Barshi, Solapur</p>
                            <p class="score">80.40 %</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>