<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Experience</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="experince-img"><iframe
                        src="https://lottie.host/embed/c97392cb-3ed4-403a-a02b-39cc1241037b/fiP7l5jA1v.json">
                    </iframe>                  
                </div>
            </div>

            <div class="col-sm-12 col-md-6 fs-5">
                <!-- Software Engineer Card -->
                <div class="card experience-card">
                    <div class="card_content d-flex align-items-center">
                        <img src="assets/images/exp-user.svg" alt="Experience Icon" class="img-fluid me-3"
                            style="width:50px;">
                        <div class="content">
                            <h5 class="profile-title">Software Engineer</h5>
                            <p class="date-range">October 2021 – Present</p>
                            <p class="company-name">Deutsche Telekom Clinical Solutions India Pvt. Ltd.</p>
                            <p class="city-name">Pune, Maharashtra, India</p>
                        </div>
                    </div>
                </div>
                <!-- Trainee Software Engineer Card -->
                <div class="card experience-card">
                    <div class="card_content d-flex align-items-center">
                        <img src="assets/images/exp-user.svg" alt="Experience Icon" class="img-fluid me-3"
                            style="width:50px;">
                        <div class="content">
                            <h5 class="profile-title">Trainee - Software Engineer</h5>
                            <p class="date-range">September 2020 – September 2021</p>
                            <p class="company-name">Deutsche Telekom Clinical Solutions India Pvt. Ltd.</p>
                             <!-- <p class="payroll-name">(via xTenTeam Solutions LLP).</p>-->
                            <p class="payroll-name">(Apprenticeship - Contractual).</p>
                            <p class="city-name">Pune, Maharashtra, India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>